<h1>Lista de autores</h1>
<hr>
<div class="position-absolute top-50 start-50 translate-middle" *ngIf="load">
    <mat-spinner mode="indeterminate" [color]="color"></mat-spinner>
</div>
<table class="table table-dark table-hover table-responsive" id="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let autor of authors | paginator:page_size:page_number">
            <td>{{autor}}</td>
            <td>
                <button (click)="listarObras(autor)" class="btn btn-primary btn-sm">Lista de obras</button>
            </td>
        </tr>
    </tbody>
</table>
<mat-paginator [length]="this.authors.length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOp" (page)="handlePage($event)"
    aria-label="Select page">

</mat-paginator>